a{
	text-decoration: none;
}

body {
	background-color: black;
}

#container {
	margin: auto;
	width: 600px;
	color: white;
}

#box {
	text-align: center;
	margin-top: 100px;
}

#title {
	font-size: 25px;
}

#date {
	font-size: 20px;
}

#backButton {
	text-align: center;
	color: green;
	font-weight: bold;
	margin: 30px;
}